#include "testmfcdialog.h"

#include <afxwin.h>

IDD_DIALOG DIALOG 0, 0, 309, 176
STYLE DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "testmfc"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "OK", IDOK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 155, 50, 14
    CONTROL "Cancel", IDCANCEL, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 155, 50, 14
    CONTROL "", IDC_CONTROL, STATIC, WS_CHILD | WS_VISIBLE, 7, 7, 295, 147
END
